<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active" >Dashboard</a>
      <a mat-list-item [routerLink]="['/tests']" routerLinkActive="active">Test</a>
      <a mat-list-item [routerLink]="['/customers']" routerLinkActive="active">Customer</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row *ngIf="authService.userData as user">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>{{ diaplayName }}</span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">
          <img class="profile-image" src="{{(user.photoURL) ? user.photoURL : ''}}"
          alt="{{user.displayName}}"></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>{{(user.displayName) ? user.displayName : 'User'}}</button>
          <button mat-menu-item>Settings</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="authService.SignOut()">Sign Out</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="pme">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
